*{
        font-family: sans-serif
}
/* hero section */
.hero{
    margin: var(--margin-home);
}
.slid .cont-slid{
    width: 40%;
}
.hero .slid{
    /* background-image: url(/images/img2.jpg); */
    background-size: cover;
    background-position: center;

    padding: 50px;
    width: 100%;
    height: 60vh;
    background-color: #f7f7f7;
    border-radius: var(--border);

}
.slid .line-offer{
    display: inline-flex;
    align-items: center;
    /* text-align: center; */
    gap: 5px;
}
.slid .line-offer span{
    font-size: .8em;
    color: var(--main-color);
    /* text-align: center; */
    border-radius: 50px;
    padding: 10px;
    background-image: linear-gradient(to right, var(--disabled-color), transparent);
}
.slid .line-offer p{
    font-size: .6em;
}
.hero .btn{
    margin: 15px 0;
    border-radius: 50px;
    background-color: var(--main-color);
    color: #f3f3f3;
}
.hero .btn:hover{
    background-color: var(--hover-color);
    color: #f3f3f3;
}
.tag-line{
    margin: var(--margin-home);
    padding: 15px;
    border-radius: var(--border);
    background-color: #b7b7b7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--active-color);
}
/* offer time section */
.offer-down{
    margin: var(--margin-home);
}
.offer-down .timer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.offer-down .timer span{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.offer-down .timer .counter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.offer-down .timer .counter div{
    width: 45px;
    height: 55px;
    border-radius: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}